{% extends 'base/base.html' %}
{% load static %}

{% block contents %}

    <div id="container">
        <div class="container">
            <!-- Breadcrumb Start-->
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li><a href="contact-us.html">تماس با ما</a></li>
            </ul>
            <!-- Breadcrumb End-->
            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-sm-9">
                    <h1 class="title">تماس با ما</h1>
                    <h3 class="subtitle">محل ما</h3>
                    <div class="row">
                        <div class="col-sm-3"><img src="{{ setting.logo.url }}" alt="قالب مارکت شاپ"
                                                   title="قالب مارکت شاپ" class="img-thumbnail"></div>
                        <div class="col-sm-3"><strong>قالب مارکت شاپ</strong><br>
                            <address>{{ setting.adress }}</address>
                        </div>
                        <div class="col-sm-3"><strong>شماره تلفن</strong><br>
                            {{ setting.phone }}<br>
                            <br>
                            <strong>فکس</strong><br>
                            {{ setting.fax }}</div>
                        <div class="col-sm-3"><strong>ساعات کار</strong><br>
                            خدمات مشتریان 24x7<br>
                            <br>
                            <strong>دیدگاه ها</strong><br>
                            در اینجا توضیحات دلخواه خود را قرار دهید. فروشگاه چک قبول نمیکند!
                        </div>
                    </div>
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            <h3 class="subtitle mb-4">با ما در ارتباط باشید</h3>

                            <!-- Fullname -->
                            <div class="form-group mb-3">
                                <label for="id_fullName" class="form-label">{{ form.fullName.label }}</label>
                                {{ form.fullName }}
                                {% for error in form.fullName.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <!-- Email -->
                            <div class="form-group mb-3">
                                <label for="id_email" class="form-label">{{ form.email.label }}</label>
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>

                            <!-- Message -->
                            <div class="form-group mb-3">
                                <label for="id_message" class="form-label">{{ form.message.label }}</label>
                                {{ form.message }}
                                {% for error in form.message.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </fieldset>

                        <!-- Submit -->
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary px-4">ارسال</button>
                        </div>
                    </form>

                </div>
                <aside id="column-right" class="col-sm-3 hidden-xs">
                    <div class="list-group">
                        <h2 class="subtitle">محتوای سفارشی</h2>
                        <p>{{ setting.about }}</p>
                    </div>
                    <div class="banner owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper"
                                 style="width: 1052px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(-263px, 0px, 0px); transform-origin: 394.5px center; perspective-origin: 394.5px center;">
                                <div class="owl-item" style="width: 263px;">
                                    <div class="item"><a href="#"><img
                                            src="{% static 'image/banner/small-banner1-265x350.jpg' %}"
                                            alt="small banner" class="img-responsive"></a></div>
                                </div>
                                <div class="owl-item" style="width: 263px;">
                                    <div class="item"><a href="#"><img src="image/banner/small-banner-265x350.jpg"
                                                                       alt="small banner1" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </aside>
                <!--Middle Part End -->
            </div>
        </div>
    </div>


{% endblock %}